USE [ODW_Stage]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/1/2016 9:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [varchar](18) NULL,
	[Username] [varchar](80) NULL,
	[LastName] [varchar](80) NULL,
	[FirstName] [varchar](40) NULL,
	[Name] [varchar](121) NULL,
	[CompanyName] [varchar](80) NULL,
	[Division] [varchar](80) NULL,
	[Department] [varchar](80) NULL,
	[Title] [varchar](80) NULL,
	[Street] [varchar](255) NULL,
	[City] [varchar](40) NULL,
	[State] [varchar](80) NULL,
	[PostalCode] [varchar](20) NULL,
	[Country] [varchar](80) NULL,
	[Email] [varchar](128) NULL,
	[Phone] [varchar](40) NULL,
	[Fax] [varchar](40) NULL,
	[MobilePhone] [varchar](40) NULL,
	[Alias] [varchar](8) NULL,
	[CommunityNickname] [varchar](40) NULL,
	[IsActive] [int] NULL,
	[TimeZoneSidKey] [varchar](40) NULL,
	[UserRoleId] [varchar](18) NULL,
	[LocaleSidKey] [varchar](40) NULL,
	[ReceivesInfoEmails] [int] NULL,
	[ReceivesAdminInfoEmails] [int] NULL,
	[EmailEncodingKey] [varchar](40) NULL,
	[ProfileId] [varchar](18) NULL,
	[UserType] [varchar](40) NULL,
	[LanguageLocaleKey] [varchar](40) NULL,
	[EmployeeNumber] [varchar](20) NULL,
	[DelegatedApproverId] [varchar](18) NULL,
	[ManagerId] [varchar](18) NULL,
	[LastLoginDate] [datetime] NULL,
	[LastPasswordChangeDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedById] [varchar](18) NULL,
	[LastModifiedDate] [datetime] NULL,
	[LastModifiedById] [varchar](18) NULL,
	[SystemModstamp] [datetime] NULL,
	[OfflineTrialExpirationDate] [datetime] NULL,
	[OfflinePdaTrialExpirationDate] [datetime] NULL,
	[UserPermissionsMarketingUser] [int] NULL,
	[UserPermissionsOfflineUser] [int] NULL,
	[UserPermissionsAvantgoUser] [int] NULL,
	[UserPermissionsCallCenterAutoLogin] [int] NULL,
	[UserPermissionsMobileUser] [int] NULL,
	[UserPermissionsSFContentUser] [int] NULL,
	[UserPermissionsKnowledgeUser] [int] NULL,
	[UserPermissionsInteractionUser] [int] NULL,
	[UserPermissionsChatterAnswersUser] [int] NULL,
	[ForecastEnabled] [int] NULL,
	[UserPreferencesActivityRemindersPopup] [int] NULL,
	[UserPreferencesEventRemindersCheckboxDefault] [int] NULL,
	[UserPreferencesTaskRemindersCheckboxDefault] [int] NULL,
	[UserPreferencesReminderSoundOff] [int] NULL,
	[UserPreferencesDisableAllFeedsEmail] [int] NULL,
	[UserPreferencesDisableFollowersEmail] [int] NULL,
	[UserPreferencesDisableProfilePostEmail] [int] NULL,
	[UserPreferencesDisableChangeCommentEmail] [int] NULL,
	[UserPreferencesDisableLaterCommentEmail] [int] NULL,
	[UserPreferencesDisProfPostCommentEmail] [int] NULL,
	[UserPreferencesContentNoEmail] [int] NULL,
	[UserPreferencesDisableAutoSubForFeeds] [int] NULL,
	[UserPreferencesContentEmailAsAndWhen] [int] NULL,
	[UserPreferencesApexPagesDeveloperMode] [int] NULL,
	[UserPreferencesHideCSNGetChatterMobileTask] [int] NULL,
	[UserPreferencesDisableMentionsPostEmail] [int] NULL,
	[UserPreferencesDisMentionsCommentEmail] [int] NULL,
	[UserPreferencesHideCSNDesktopTask] [int] NULL,
	[UserPreferencesDisCommentAfterLikeEmail] [int] NULL,
	[UserPreferencesDisableLikeEmail] [int] NULL,
	[UserPreferencesDisableMessageEmail] [int] NULL,
	[UserPreferencesOptOutOfTouch] [int] NULL,
	[UserPreferencesDisableBookmarkEmail] [int] NULL,
	[UserPreferencesDisableSharePostEmail] [int] NULL,
	[ContactId] [varchar](18) NULL,
	[AccountId] [varchar](18) NULL,
	[CallCenterId] [varchar](18) NULL,
	[Extension] [varchar](40) NULL,
	[PortalRole] [varchar](40) NULL,
	[IsPortalEnabled] [int] NULL,
	[IsPortalSelfRegistered] [int] NULL,
	[FederationIdentifier] [varchar](512) NULL,
	[AboutMe] [varchar](1000) NULL,
	[CurrentStatus] [varchar](1000) NULL,
	[FullPhotoUrl] [varchar](1024) NULL,
	[SmallPhotoUrl] [varchar](1024) NULL,
	[DigestFrequency] [varchar](40) NULL,
	[DefaultGroupNotificationFrequency] [varchar](40) NULL,
	[Functional_Area__c] [varchar](1300) NULL,
	[Function__c] [varchar](1300) NULL,
	[Location__c] [varchar](255) NULL,
	[User_Name_External_ID__c] [varchar](255) NULL,
	[Rubric_Category__c] [varchar](1300) NULL,
	[mkto_si__IsCachingAnonWebActivityList__c] [int] NULL,
	[DB_Region__c] [varchar](255) NULL,
	[mkto_si__IsCachingBestBets__c] [int] NULL,
	[mkto_si__IsCachingEmailActivityList__c] [int] NULL,
	[mkto_si__IsCachingGroupedWebActivityList__c] [int] NULL,
	[mkto_si__IsCachingInterestingMomentsList__c] [int] NULL,
	[mkto_si__IsCachingScoringList__c] [int] NULL,
	[mkto_si__IsCachingStreamList__c] [int] NULL,
	[mkto_si__IsCachingWatchList__c] [int] NULL,
	[mkto_si__IsCachingWebActivityList__c] [int] NULL,
	[mkto_si__Sales_Insight_Counter__c] [decimal](4, 0) NULL,
	[Service_Desk_Agent__c] [int] NULL
) ON [PRIMARY]

GO
