USE [ODW_Stage]
GO
/****** Object:  Table [dbo].[school_clean_up]    Script Date: 12/1/2016 9:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[school_clean_up](
	[LEAD_ID] [varchar](18) NULL,
	[Email] [varchar](80) NULL
) ON [PRIMARY]

GO
