USE [ODW_Stage]
GO
/****** Object:  Table [dbo].[Opportunity_Full]    Script Date: 12/1/2016 9:23:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opportunity_Full](
	[Id] [varchar](18) NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[AccountId] [varchar](18) NULL,
	[RecordTypeId] [varchar](18) NULL,
	[IsPrivate] [int] NOT NULL,
	[Name] [varchar](120) NOT NULL,
	[Description] [varchar](max) NULL,
	[StageName] [varchar](40) NOT NULL,
	[Amount] [decimal](18, 2) NULL,
	[Probability] [decimal](3, 0) NULL,
	[ExpectedRevenue] [decimal](18, 2) NULL,
	[TotalOpportunityQuantity] [decimal](18, 2) NULL,
	[CloseDate] [datetime] NOT NULL,
	[Type] [varchar](40) NULL,
	[NextStep] [varchar](255) NULL,
	[LeadSource] [varchar](40) NULL,
	[IsClosed] [int] NOT NULL,
	[IsWon] [int] NOT NULL,
	[ForecastCategory] [varchar](40) NOT NULL,
	[ForecastCategoryName] [varchar](40) NULL,
	[CampaignId] [varchar](18) NULL,
	[HasOpportunityLineItem] [int] NOT NULL,
	[Pricebook2Id] [varchar](18) NULL,
	[OwnerId] [varchar](18) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedById] [varchar](18) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[LastModifiedById] [varchar](18) NOT NULL,
	[SystemModstamp] [datetime] NOT NULL,
	[LastActivityDate] [datetime] NULL,
	[FiscalQuarter] [int] NULL,
	[FiscalYear] [int] NULL,
	[Fiscal] [varchar](6) NULL,
	[ConnectionReceivedId] [varchar](18) NULL,
	[ConnectionSentId] [varchar](18) NULL,
	[DB_Competitor__c] [varchar](255) NULL,
	[Partnership_End_Date__c] [datetime] NULL,
	[Partnership_Period__c] [varchar](1300) NULL,
	[Partnership_Start_Date__c] [datetime] NULL,
	[Partnership_Year__c] [varchar](255) NULL,
	[Attendance_Start_Date__c] [datetime] NULL,
	[Preparation_and_Training__c] [varchar](max) NULL,
	[Monitoring_Success__c] [varchar](max) NULL,
	[Material_Support__c] [varchar](max) NULL,
	[Team_Weekly_Schedule__c] [varchar](max) NULL,
	[Behavior_Start_Date__c] [datetime] NULL,
	[Math_Start_Date__c] [datetime] NULL,
	[ELA_Start_Date__c] [datetime] NULL,
	[Multi_Indic_Start_Date__c] [datetime] NULL,
	[Extend_Day_Start_Date__c] [datetime] NULL,
	[Parent_Campaign_Source__c] [varchar](1300) NULL,
	[Closed_Lost_Comments__c] [varchar](255) NULL,
	[Application_Submission_Format__c] [varchar](255) NULL,
	[Parent_Opportunity_Close_Date__c] [datetime] NULL,
	[Parent_Opportunity_Giving_Amount__c] [decimal](18, 2) NULL,
	[Pledge_Reminder_Due_Date__c] [datetime] NULL,
	[CFDA__c] [varchar](10) NULL,
	[Case_Safe_Id_18_char__c] [varchar](1300) NULL,
	[Continuation_Recompete__c] [varchar](255) NULL,
	[SoP_Signed_and_Uploaded__c] [int] NOT NULL,
	[Count_School_Partnership_Items__c] [decimal](18, 0) NULL,
	[Cost_Per_MSY_Awarded__c] [decimal](18, 2) NULL,
	[rC_Giving__GL_Batch_Number__c] [varchar](80) NULL,
	[Exit_w_Award__c] [decimal](18, 0) NULL,
	[Exit_w_No_Award__c] [decimal](18, 2) NULL,
	[rC_Giving__Is_Manual_Transaction__c] [int] NOT NULL,
	[Full_time_Half_time__c] [varchar](255) NULL,
	[rC_Giving__Payment_Transaction_ID__c] [varchar](255) NULL,
	[rC_Giving__Refund_Transaction_ID__c] [varchar](255) NULL,
	[Grant_Service_Year__c] [varchar](255) NULL,
	[rC_Giving__Send_to_GL__c] [varchar](255) NULL,
	[rC_Connect__Charge_Attempts__c] [decimal](18, 0) NULL,
	[rC_Connect__Response_Code__c] [varchar](255) NULL,
	[rC_Connect__Response_Date_Time__c] [datetime] NULL,
	[rC_Connect__Response_Message__c] [varchar](max) NULL,
	[Paid_in_Full_at_Entry__c] [int] NOT NULL,
	[Workday_Integration_Flag__c] [int] NOT NULL,
	[Workday_Integration_Datetime_Stamp__c] [datetime] NULL,
	[Living_Allowance__c] [decimal](18, 2) NULL,
	[MSY_Awarded__c] [decimal](18, 0) NULL,
	[MSY_Requested__c] [decimal](18, 0) NULL,
	[No_Cost_Slots__c] [decimal](18, 0) NULL,
	[Campaign_Revenue_Category_WD_Code__c] [varchar](1300) NULL,
	[Account_Billing_Address__c] [varchar](1300) NULL,
	[Service_Type__c] [varchar](255) NULL,
	[Service_Team__c] [varchar](18) NULL,
	[Service_Contact__c] [varchar](18) NULL,
	[Parent_Opportunity_Account_Name__c] [varchar](1300) NULL,
	[Job_Title__c] [varchar](255) NULL,
	[Risk_Score__c] [varchar](255) NULL,
	[mkto_si__MarketoAnalyzer__c] [varchar](1300) NULL,
	[Service_Team_Location__c] [varchar](1300) NULL,
	[GTF__c] [varchar](18) NULL,
	[State_Commission_Contact__c] [varchar](18) NULL,
	[X30_Day_Enrollment_Compliance_Late__c] [decimal](18, 0) NULL,
	[X30_Day_Exit_Compliance_Late__c] [decimal](18, 0) NULL,
	[projected_amount__c] [decimal](18, 2) NULL,
	[CY_Fiscal_Year__c] [varchar](4) NULL,
	[Cost_Per_MSY_Requested__c] [decimal](18, 2) NULL,
	[Full_Time__c] [decimal](4, 0) NULL,
	[Half_Time__c] [decimal](4, 0) NULL,
	[Program_Name__c] [varchar](255) NULL,
	[State_Commission__c] [varchar](18) NULL,
	[Summary_Tax_Receipt_Amount__c] [decimal](18, 2) NULL,
	[Diplomas_Now_School_Partnership__c] [int] NOT NULL,
	[i3_School_Partnership__c] [int] NOT NULL,
	[Number_of_Opportunities__c] [decimal](18, 0) NULL,
	[Opportunity_Number__c] [varchar](30) NOT NULL,
	[rC_Giving__Account_Name__c] [varchar](1300) NULL,
	[rC_Giving__Account_Number__c] [varchar](40) NULL,
	[rC_Giving__Acknowledged_Date__c] [datetime] NULL,
	[rC_Giving__Acknowledged__c] [int] NOT NULL,
	[rC_Giving__Activity_Type__c] [varchar](255) NULL,
	[rC_Giving__Affiliation__c] [varchar](255) NULL,
	[rC_Giving__Allocation_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Anniversary_Date__c] [datetime] NULL,
	[rC_Giving__Anniversary_Renewal_Date__c] [datetime] NULL,
	[rC_Giving__Annual_Giving_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Application_Deadline__c] [datetime] NULL,
	[rC_Giving__Application_ID__c] [varchar](15) NULL,
	[rC_Giving__Archive_Flag__c] [int] NOT NULL,
	[rC_Giving__Ask_Readiness__c] [varchar](255) NULL,
	[rC_Giving__Available_Billing_Date__c] [datetime] NULL,
	[rC_Giving__Awarded_Grant_End_Date__c] [datetime] NULL,
	[rC_Giving__Awarded_Grant_Start_Date__c] [datetime] NULL,
	[rC_Giving__Best_Case_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Best_Case_Bar__c] [varchar](1300) NULL,
	[rC_Giving__Best_Case_Ratio__c] [decimal](18, 2) NULL,
	[rC_Giving__Calculated_Giving_Type__c] [varchar](255) NULL,
	[rC_Giving__Campaign_Channel__c] [varchar](255) NULL,
	[rC_Giving__Campaign_Response_Mechanism__c] [varchar](1300) NULL,
	[rC_Giving__Campaign_Source_Code__c] [varchar](1300) NULL,
	[rC_Giving__Campaign_Support_Designation__c] [varchar](1300) NULL,
	[rC_Giving__Charitable_Deduction__c] [decimal](18, 2) NULL,
	[rC_Giving__Check_Date__c] [datetime] NULL,
	[rC_Giving__Check_Number__c] [varchar](255) NULL,
	[rC_Giving__Close_Date_Time__c] [datetime] NULL,
	[rC_Giving__Closed_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Closed_Bar__c] [varchar](1300) NULL,
	[rC_Giving__Closed_Lost_Reason__c] [varchar](255) NULL,
	[rC_Giving__Closed_Ratio__c] [decimal](18, 2) NULL,
	[rC_Giving__Comments__c] [varchar](max) NULL,
	[rC_Giving__Commit_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Commit_Bar__c] [varchar](1300) NULL,
	[rC_Giving__Commit_Ratio__c] [decimal](18, 2) NULL,
	[rC_Giving__Concept_Paper_Deadline__c] [datetime] NULL,
	[rC_Giving__Contract_Number__c] [varchar](10) NULL,
	[rC_Giving__Contract_Status__c] [varchar](255) NULL,
	[rC_Giving__Current_Giving_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Current_Giving_Bar__c] [varchar](1300) NULL,
	[rC_Giving__Current_Giving_Divergence__c] [decimal](18, 2) NULL,
	[rC_Giving__Current_Giving_Ratio__c] [decimal](18, 2) NULL,
	[rC_Giving__Discount_Rate_Month__c] [varchar](255) NULL,
	[rC_Giving__Discount_Rate_Year__c] [varchar](255) NULL,
	[rC_Giving__Discount_Rate__c] [decimal](18, 2) NULL,
	[rC_Giving__Effective_Giving_Type_Date__c] [datetime] NULL,
	[rC_Giving__Enrollment_Start_Date__c] [datetime] NULL,
	[rC_Giving__Entered_Giving_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Entered_Giving_Currency_Rate__c] [decimal](18, 8) NULL,
	[rC_Giving__Entered_Giving_Currency__c] [varchar](255) NULL,
	[rC_Giving__Expected_Giving_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Expected_Giving_Bar__c] [varchar](1300) NULL,
	[rC_Giving__Expected_Giving_Ratio__c] [decimal](18, 2) NULL,
	[rC_Giving__External_ID__c] [varchar](255) NULL,
	[rC_Giving__Fees_Commissions__c] [decimal](18, 2) NULL,
	[rC_Giving__Fill_Rate__c] [decimal](18, 0) NULL,
	[rC_Giving__First_Closed_Payment_Date__c] [datetime] NULL,
	[rC_Giving__First_Payment_Date__c] [datetime] NULL,
	[rC_Giving__Giving_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Giving_End_Date__c] [datetime] NULL,
	[rC_Giving__Giving_Frequency__c] [varchar](255) NULL,
	[rC_Giving__Giving_Level_ID__c] [varchar](1300) NULL,
	[rC_Giving__Giving_Level_Status__c] [varchar](1300) NULL,
	[rC_Giving__Giving_Number__c] [varchar](255) NULL,
	[rC_Giving__Giving_Type_Engine__c] [varchar](255) NULL,
	[rC_Giving__Giving_Type__c] [varchar](255) NULL,
	[rC_Giving__Giving_Years__c] [decimal](2, 0) NULL,
	[rC_Giving__Grant_Purpose__c] [varchar](max) NULL,
	[rC_Giving__Grant_Requirements__c] [varchar](255) NULL,
	[rC_Giving__Grant_Type__c] [varchar](255) NULL,
	[rC_Giving__Grantor_ID__c] [varchar](15) NULL,
	[rC_Giving__Initial_Application_Submission_Format__c] [varchar](255) NULL,
	[rC_Giving__Internal_Grant_ID__c] [varchar](15) NULL,
	[rC_Giving__Is_Anonymous__c] [int] NOT NULL,
	[rC_Giving__Is_Bookable__c] [int] NOT NULL,
	[rC_Giving__Is_Canceled__c] [int] NOT NULL,
	[rC_Giving__Is_Completed__c] [int] NOT NULL,
	[rC_Giving__Is_Giving_Donation__c] [int] NOT NULL,
	[rC_Giving__Is_Giving_Inkind__c] [int] NOT NULL,
	[rC_Giving__Is_Giving_Membership__c] [int] NOT NULL,
	[rC_Giving__Is_Giving_Purchase__c] [int] NOT NULL,
	[rC_Giving__Is_Giving_Transaction__c] [int] NOT NULL,
	[rC_Giving__Is_Giving__c] [int] NOT NULL,
	[rC_Giving__Is_Matching__c] [int] NOT NULL,
	[rC_Giving__Is_Payment_Refunded__c] [int] NOT NULL,
	[rC_Giving__Is_Refundable__c] [int] NOT NULL,
	[rC_Giving__Is_Restricted__c] [int] NOT NULL,
	[rC_Giving__Is_Selected__c] [int] NOT NULL,
	[rC_Giving__Is_Shopper__c] [int] NOT NULL,
	[rC_Giving__Is_Suspended__c] [int] NOT NULL,
	[rC_Giving__Is_Sustainer__c] [int] NOT NULL,
	[rC_Giving__Is_Tribute__c] [int] NOT NULL,
	[rC_Giving__Is_Uncollectible__c] [int] NOT NULL,
	[rC_Giving__Last_Giving_Amount_Adjustment_Date__c] [datetime] NULL,
	[rC_Giving__Last_Giving_Amount_Adjustment__c] [decimal](18, 2) NULL,
	[rC_Giving__Letter_Of_Intent_Deadline__c] [datetime] NULL,
	[rC_Giving__Link_2__c] [varchar](255) NULL,
	[rC_Giving__Link_3__c] [varchar](255) NULL,
	[rC_Giving__Link_4__c] [varchar](255) NULL,
	[rC_Giving__Link_5__c] [varchar](255) NULL,
	[rC_Giving__Link_6__c] [varchar](255) NULL,
	[rC_Giving__Matching_Account__c] [varchar](18) NULL,
	[rC_Giving__Matching_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Matching_Notice__c] [varchar](255) NULL,
	[rC_Giving__Matching_Opportunity__c] [varchar](18) NULL,
	[rC_Giving__Matching_Status__c] [varchar](255) NULL,
	[rC_Giving__Media_Amount_1__c] [decimal](18, 2) NULL,
	[rC_Giving__Media_Amount_2__c] [decimal](18, 2) NULL,
	[rC_Giving__Media_Amount_3__c] [decimal](18, 2) NULL,
	[rC_Giving__Media_Amount_4__c] [decimal](18, 2) NULL,
	[rC_Giving__Media_Amount_5__c] [decimal](18, 2) NULL,
	[rC_Giving__Media_Type_1__c] [varchar](255) NULL,
	[rC_Giving__Media_Type_2__c] [varchar](255) NULL,
	[rC_Giving__Media_Type_3__c] [varchar](255) NULL,
	[rC_Giving__Media_Type_4__c] [varchar](255) NULL,
	[rC_Giving__Media_Type_5__c] [varchar](255) NULL,
	[rC_Giving__Notice_Of_Grant_Awarded_Date__c] [datetime] NULL,
	[rC_Giving__Number_Of_Shares__c] [decimal](18, 0) NULL,
	[rC_Giving__Omitted_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Omitted_Bar__c] [varchar](1300) NULL,
	[rC_Giving__Omitted_Ratio__c] [decimal](18, 2) NULL,
	[rC_Giving__Original_Summary__c] [varchar](18) NULL,
	[rC_Giving__Parent_Name__c] [varchar](1300) NULL,
	[rC_Giving__Parent__c] [varchar](18) NULL,
	[rC_Giving__Payer_Name__c] [varchar](255) NULL,
	[rC_Giving__Payment_Count__c] [decimal](18, 0) NULL,
	[rC_Giving__Payment_Day__c] [varchar](255) NULL,
	[rC_Giving__Payment_End_Date__c] [datetime] NULL,
	[rC_Giving__Payment_Frequency__c] [varchar](255) NULL,
	[rC_Giving__Payment_Method_Selected__c] [varchar](18) NULL,
	[rC_Giving__Payment_Method__c] [varchar](255) NULL,
	[rC_Giving__Payment_Reference_Number__c] [varchar](255) NULL,
	[rC_Giving__Performance_Measures__c] [varchar](max) NULL,
	[rC_Giving__Pipeline_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Pipeline_Bar__c] [varchar](1300) NULL,
	[rC_Giving__Pipeline_Ratio__c] [decimal](18, 2) NULL,
	[rC_Giving__Planned_Giving__c] [varchar](18) NULL,
	[rC_Giving__Pre_Award_Cost_Approval__c] [decimal](18, 2) NULL,
	[rC_Giving__Primary_Contact__c] [varchar](18) NULL,
	[rC_Giving__Projected_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Projected_Bar__c] [varchar](1300) NULL,
	[rC_Giving__Projected_Ratio__c] [decimal](18, 2) NULL,
	[rC_Giving__Proposed_End_Date__c] [datetime] NULL,
	[rC_Giving__Proposed_Start_Date__c] [datetime] NULL,
	[rC_Giving__Prospect_Rating__c] [varchar](255) NULL,
	[rC_Giving__Realized_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Realized_Date__c] [datetime] NULL,
	[rC_Giving__Refund_Reason__c] [varchar](255) NULL,
	[rC_Giving__Refunded_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Refunded_Bar__c] [varchar](1300) NULL,
	[rC_Giving__Refunded_Ratio__c] [decimal](18, 2) NULL,
	[rC_Giving__Renew_By_Email__c] [int] NOT NULL,
	[rC_Giving__Renew_By_Postal_Mail__c] [int] NOT NULL,
	[rC_Giving__Reporting_Schedule__c] [varchar](255) NULL,
	[rC_Giving__Requested_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Response_Mechanism__c] [varchar](255) NULL,
	[rC_Giving__Retention_Rate__c] [decimal](18, 0) NULL,
	[rC_Giving__Rollup_Allocations__c] [datetime] NULL,
	[rC_Giving__Rollup_Giving__c] [datetime] NULL,
	[rC_Giving__Rollup_Transactions__c] [datetime] NULL,
	[rC_Giving__Solicitation_Status__c] [varchar](255) NULL,
	[rC_Giving__Solicitation_Type__c] [varchar](255) NULL,
	[rC_Giving__Sorting_Number__c] [varchar](1300) NULL,
	[rC_Giving__Source_Code__c] [varchar](255) NULL,
	[rC_Giving__Summary_Link__c] [varchar](1300) NULL,
	[rC_Giving__Summary__c] [varchar](18) NULL,
	[rC_Giving__Support_Designation__c] [varchar](255) NULL,
	[rC_Giving__Suspended_End_Date__c] [datetime] NULL,
	[rC_Giving__Suspended_Start_Date__c] [datetime] NULL,
	[rC_Giving__Tax_Deductible_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Ticker_Symbol__c] [varchar](255) NULL,
	[rC_Giving__Transaction_Type__c] [varchar](255) NULL,
	[rC_Giving__Tribute_Comments__c] [varchar](max) NULL,
	[rC_Giving__Tribute_Contact__c] [varchar](18) NULL,
	[rC_Giving__Tribute_Delivered_Date__c] [datetime] NULL,
	[rC_Giving__Tribute_Delivery__c] [varchar](255) NULL,
	[rC_Giving__Tribute_Description__c] [varchar](max) NULL,
	[rC_Giving__Tribute_Effective_Date__c] [datetime] NULL,
	[rC_Giving__Tribute_Name__c] [varchar](255) NULL,
	[rC_Giving__Tribute_Type__c] [varchar](255) NULL,
	[rC_Giving__Update_Transactions__c] [datetime] NULL,
	[rC_Giving__Valuation_Date__c] [datetime] NULL,
	[rC_Giving__Valuation_Type__c] [varchar](255) NULL,
	[rC_Connect__Is_Auto_Submit_Payment__c] [int] NOT NULL,
	[rC_Connect__Rollup_Heartland_Transactions__c] [datetime] NULL,
	[rC_Connect__Rollup_Sage_Vault_Bankcards__c] [datetime] NULL,
	[rC_Connect__Rollup_Sage_Vault_Virtual_Checks__c] [datetime] NULL,
	[Gift_Source__c] [varchar](255) NULL,
	[Special_Gift_Indicator__c] [varchar](4099) NULL,
	[Parent_Opportunity_Opportunity_Number__c] [varchar](1300) NULL,
	[RE_Date_and_Ext_ID__c] [varchar](1300) NULL,
	[Campaign_Revenue_Category__c] [varchar](1300) NULL,
	[Parent_Opportunity_Opportunity_RecType__c] [varchar](1300) NULL,
	[Do_Not_Acknolwedge__c] [int] NOT NULL,
	[Parent_Opportunity_Do_Not_Acknowledge__c] [int] NOT NULL,
	[CY_Allocation_Location_String__c] [varchar](max) NULL,
	[Parent_Opportunity_Allocation_Location__c] [varchar](max) NULL,
	[Campaign_Primary_Campaign__c] [varchar](1300) NULL,
	[Needs_Receipt__c] [int] NOT NULL,
	[Count_Oppty_Line_Items__c] [decimal](18, 0) NULL,
	[Parent_Opportunity_Id__c] [varchar](1300) NULL,
	[Parent_Opportunity_Tribute_Text__c] [varchar](1300) NULL,
	[Parent_Campaign_Revenue_Strategy__c] [varchar](1300) NULL,
	[Parent_Opportunity_Giving_Source__c] [varchar](1300) NULL,
	[Link_to_Opportunity__c] [varchar](1300) NULL,
	[Key_Considerations__c] [varchar](max) NULL,
	[Tier__c] [varchar](255) NULL,
	[Service_Year__c] [varchar](1300) NULL,
	[Parent_Opportunity_Stage__c] [varchar](1300) NULL,
	[Grant_Service_Location__c] [varchar](18) NULL,
	[Consolidated_Amount__c] [decimal](18, 2) NULL,
	[Parent_Opportunity_Current_Giving_Amount__c] [decimal](18, 2) NULL,
	[Parent_Opportunity_Closed_Amount__c] [decimal](18, 2) NULL,
	[Parent_Opportunity_Giving_Frequency__c] [varchar](1300) NULL,
	[Close_Month__c] [decimal](18, 0) NULL,
	[Close_Day__c] [decimal](18, 0) NULL,
	[Parent_Opportunity_Case_Safe_Id__c] [varchar](1300) NULL,
	[Service_Hire_Date__c] [datetime] NULL,
	[Service_Start_Date__c] [datetime] NULL,
	[Service_End_Date__c] [datetime] NULL,
	[Service_Manager__c] [varchar](18) NULL,
	[Service_Department__c] [varchar](255) NULL,
	[Service_Business_Title__c] [varchar](255) NULL,
	[Service_Employee_Type__c] [varchar](255) NULL,
	[Service_Site__c] [varchar](18) NULL,
	[Monetary_SoP__c] [int] NOT NULL,
	[Service_Time_Type__c] [varchar](255) NULL,
	[Service_Business_Unit__c] [varchar](18) NULL,
	[Service_Physical_Location__c] [varchar](255) NULL,
	[rC_Giving__Account_Update_Summaries_Age__c] [decimal](18, 8) NULL,
	[rC_Giving__Allocation_Model__c] [varchar](255) NULL,
	[rC_Giving__Campaign_Rollup_Giving_Age__c] [decimal](18, 8) NULL,
	[rC_Giving__Direct_Debit_Customer_Code__c] [varchar](50) NULL,
	[rC_Giving__Hard_Credit_Account__c] [varchar](18) NULL,
	[rC_Giving__Hard_Credit_Contact__c] [varchar](18) NULL,
	[rC_Giving__Is_Giving_Outright_Gift__c] [int] NOT NULL,
	[rC_Giving__Is_Giving_Pledge__c] [int] NOT NULL,
	[rC_Giving__Matching_Ratio_Type__c] [varchar](255) NULL,
	[rC_Giving__Primary_Account__c] [varchar](1300) NULL,
	[External_ID_SFID__c] [varchar](255) NULL,
	[No_of_Credits__c] [decimal](18, 0) NULL,
	[Account_Type__c] [varchar](1300) NULL,
	[AccountNo__c] [varchar](1300) NULL,
	[Inkind_Category__c] [varchar](255) NULL,
	[Description_of_Inkind_Gift_s__c] [varchar](255) NULL,
	[Amount_Difference__c] [decimal](18, 2) NULL,
	[Consolidated_Pipeline_Amount__c] [decimal](18, 2) NULL,
	[Opportunity_Count__c] [decimal](18, 0) NULL,
	[Check_to_Close_Span__c] [decimal](18, 0) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
