USE [ODW_Stage]
GO
/****** Object:  Table [dbo].[CampaignMember]    Script Date: 12/1/2016 9:23:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CampaignMember](
	[Id] [varchar](18) NULL,
	[IsDeleted] [int] NULL,
	[CampaignId] [varchar](18) NULL,
	[LeadId] [varchar](18) NULL,
	[ContactId] [varchar](18) NULL,
	[Status] [varchar](40) NULL,
	[HasResponded] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedById] [varchar](18) NULL,
	[LastModifiedDate] [datetime] NULL,
	[LastModifiedById] [varchar](18) NULL,
	[SystemModstamp] [datetime] NULL,
	[FirstRespondedDate] [datetime] NULL,
	[RecordTypeId] [varchar](18) NULL,
	[rC_Giving__Archive_Flag__c] [int] NULL,
	[rC_Giving__Send_To_Email_Campaign__c] [int] NULL,
	[rC_Connect__Has_Volunteered__c] [int] NULL,
	[rC_Connect__Hours_Voluntered__c] [decimal](18, 2) NULL,
	[Attended__c] [varchar](255) NULL,
	[rC_Event__Attendance_Date__c] [datetime] NULL,
	[rC_Event__Attendance_Status__c] [varchar](255) NULL,
	[rC_Event__Billing_City__c] [varchar](255) NULL,
	[rC_Event__Billing_Country__c] [varchar](255) NULL,
	[rC_Event__Billing_Postal_Code__c] [varchar](255) NULL,
	[rC_Event__Billing_State__c] [varchar](255) NULL,
	[rC_Event__Billing_Street_Line_1__c] [varchar](255) NULL,
	[rC_Event__Billing_Street_Line_2__c] [varchar](255) NULL,
	[rC_Event__Billing_Street__c] [varchar](255) NULL,
	[rC_Event__Campaign_Group_1__c] [varchar](18) NULL,
	[rC_Event__Campaign_Group_2__c] [varchar](18) NULL,
	[rC_Event__Campaign_Group_3__c] [varchar](18) NULL,
	[rC_Event__Card_Expiration_Month__c] [varchar](255) NULL,
	[rC_Event__Card_Expiration_Year__c] [varchar](255) NULL,
	[rC_Event__Card_Holder_Name__c] [varchar](255) NULL,
	[rC_Event__Card_Number__c] [varchar](18) NULL,
	[rC_Event__Card_Security_Code__c] [varchar](4) NULL,
	[rC_Event__Contact_Address_Type__c] [varchar](255) NULL,
	[rC_Event__Email__c] [varchar](80) NULL,
	[rC_Event__First_Name__c] [varchar](80) NULL,
	[rC_Event__Guest_Of__c] [varchar](255) NULL,
	[rC_Event__Is_Selected__c] [int] NULL,
	[rC_Event__Last_Name__c] [varchar](80) NULL,
	[rC_Event__Meal_1_Meal_ID__c] [varchar](18) NULL,
	[rC_Event__Meal_1_Purchase_Price__c] [decimal](18, 2) NULL,
	[rC_Event__Meal_1_Purchase_Quantity__c] [decimal](18, 0) NULL,
	[rC_Event__Meal_1_Status__c] [varchar](255) NULL,
	[rC_Event__Meal_2_Meal_ID__c] [varchar](18) NULL,
	[rC_Event__Meal_2_Purchase_Price__c] [decimal](18, 2) NULL,
	[rC_Event__Meal_2_Purchase_Quantity__c] [decimal](18, 0) NULL,
	[rC_Event__Meal_2_Status__c] [varchar](255) NULL,
	[rC_Event__Meal_3_Meal_ID__c] [varchar](18) NULL,
	[rC_Event__Meal_3_Purchase_Price__c] [decimal](18, 2) NULL,
	[rC_Event__Meal_3_Purchase_Quantity__c] [decimal](18, 0) NULL,
	[rC_Event__Meal_3_Status__c] [varchar](255) NULL,
	[rC_Event__Meal_4_Meal_ID__c] [varchar](18) NULL,
	[rC_Event__Meal_4_Purchase_Price__c] [decimal](18, 2) NULL,
	[rC_Event__Meal_4_Purchase_Quantity__c] [decimal](18, 0) NULL,
	[rC_Event__Meal_4_Status__c] [varchar](255) NULL,
	[rC_Event__Meal_5_Meal_ID__c] [varchar](18) NULL,
	[rC_Event__Meal_5_Purchase_Price__c] [decimal](18, 2) NULL,
	[rC_Event__Meal_5_Purchase_Quantity__c] [decimal](18, 0) NULL,
	[rC_Event__Meal_5_Status__c] [varchar](255) NULL,
	[rC_Event__Member_Email__c] [varchar](255) NULL,
	[rC_Event__Member_Name__c] [varchar](255) NULL,
	[rC_Event__Member_Phone__c] [varchar](255) NULL,
	[rC_Event__Member_Role__c] [varchar](255) NULL,
	[rC_Event__Parent_Campaign_Member__c] [varchar](18) NULL,
	[rC_Event__Payment_Method__c] [varchar](255) NULL,
	[rC_Event__Payment_Processor_Foreign_GUID__c] [varchar](64) NULL,
	[rC_Event__Payment_Processor_GUID__c] [varchar](64) NULL,
	[rC_Event__Payment_Processor__c] [varchar](255) NULL,
	[rC_Event__Payment_Status__c] [varchar](255) NULL,
	[rC_Event__Payment_Transaction_Time__c] [varchar](128) NULL,
	[rC_Event__Phone__c] [varchar](40) NULL,
	[rC_Event__Registered_Count__c] [decimal](18, 0) NULL,
	[rC_Event__Registered_Date__c] [datetime] NULL,
	[rC_Event__Registered_Meal__c] [varchar](18) NULL,
	[rC_Event__Registered_Seat__c] [decimal](18, 0) NULL,
	[rC_Event__Registered_Status__c] [varchar](255) NULL,
	[rC_Event__Registered_Table_Name__c] [varchar](255) NULL,
	[rC_Event__Registered_Table__c] [varchar](18) NULL,
	[rC_Event__Registered_Venue_Name__c] [varchar](255) NULL,
	[rC_Event__Registered_Venue_Seats__c] [varchar](255) NULL,
	[rC_Event__Registered_Venue__c] [varchar](18) NULL,
	[rC_Event__Salutation__c] [varchar](80) NULL,
	[rC_Event__Shipping_City__c] [varchar](255) NULL,
	[rC_Event__Shipping_Country__c] [varchar](255) NULL,
	[rC_Event__Shipping_Postal_Code__c] [varchar](255) NULL,
	[rC_Event__Shipping_State__c] [varchar](255) NULL,
	[rC_Event__Shipping_Street_Line_1__c] [varchar](255) NULL,
	[rC_Event__Shipping_Street_Line_2__c] [varchar](255) NULL,
	[rC_Event__Shipping_Street__c] [varchar](255) NULL,
	[rC_Event__Ticket_1_Discount_Code__c] [varchar](255) NULL,
	[rC_Event__Ticket_1_Purchase_Price__c] [decimal](18, 2) NULL,
	[rC_Event__Ticket_1_Purchase_Quantity__c] [decimal](18, 0) NULL,
	[rC_Event__Ticket_1_Status__c] [varchar](255) NULL,
	[rC_Event__Ticket_1_Ticket_ID__c] [varchar](18) NULL,
	[rC_Event__Ticket_2_Discount_Code__c] [varchar](255) NULL,
	[rC_Event__Ticket_2_Purchase_Price__c] [decimal](18, 2) NULL,
	[rC_Event__Ticket_2_Purchase_Quantity__c] [decimal](18, 0) NULL,
	[rC_Event__Ticket_2_Status__c] [varchar](255) NULL,
	[rC_Event__Ticket_2_Ticket_ID__c] [varchar](18) NULL,
	[rC_Event__Ticket_3_Discount_Code__c] [varchar](255) NULL,
	[rC_Event__Ticket_3_Purchase_Price__c] [decimal](18, 2) NULL,
	[rC_Event__Ticket_3_Purchase_Quantity__c] [decimal](18, 0) NULL,
	[rC_Event__Ticket_3_Status__c] [varchar](255) NULL,
	[rC_Event__Ticket_3_Ticket_ID__c] [varchar](18) NULL,
	[rC_Event__Ticket_4_Discount_Code__c] [varchar](255) NULL,
	[rC_Event__Ticket_4_Purchase_Price__c] [decimal](18, 2) NULL,
	[rC_Event__Ticket_4_Purchase_Quantity__c] [decimal](18, 0) NULL,
	[rC_Event__Ticket_4_Status__c] [varchar](255) NULL,
	[rC_Event__Ticket_4_Ticket_ID__c] [varchar](18) NULL,
	[rC_Event__Ticket_5_Discount_Code__c] [varchar](255) NULL,
	[rC_Event__Ticket_5_Purchase_Price__c] [decimal](18, 2) NULL,
	[rC_Event__Ticket_5_Purchase_Quantity__c] [decimal](18, 0) NULL,
	[rC_Event__Ticket_5_Status__c] [varchar](255) NULL,
	[rC_Event__Ticket_5_Ticket_ID__c] [varchar](18) NULL,
	[Representativeof__c] [varchar](18) NULL,
	[rC_Event__Item_1_Item_ID__c] [varchar](18) NULL,
	[rC_Event__Item_1_Purchase_Price__c] [decimal](18, 2) NULL,
	[rC_Event__Item_1_Purchase_Quantity__c] [decimal](18, 0) NULL,
	[rC_Event__Item_2_Item_ID__c] [varchar](18) NULL,
	[rC_Event__Item_2_Purchase_Price__c] [decimal](18, 2) NULL,
	[rC_Event__Item_2_Purchase_Quantity__c] [decimal](18, 0) NULL,
	[rC_Event__Item_3_Item_ID__c] [varchar](18) NULL,
	[rC_Event__Item_3_Purchase_Price__c] [decimal](18, 2) NULL,
	[rC_Event__Item_3_Purchase_Quantity__c] [decimal](18, 0) NULL,
	[rC_Event__Item_4_Item_ID__c] [varchar](18) NULL,
	[rC_Event__Item_4_Purchase_Price__c] [decimal](18, 2) NULL,
	[rC_Event__Item_4_Purchase_Quantity__c] [decimal](18, 0) NULL,
	[rC_Event__Item_5_Item_ID__c] [varchar](18) NULL,
	[rC_Event__Item_5_Purchase_Price__c] [decimal](18, 2) NULL,
	[rC_Event__Item_5_Purchase_Quantity__c] [decimal](18, 0) NULL,
	[rC_Event__Item_ID_Quantity_Zero__c] [varchar](255) NULL,
	[rC_Event__Meal_ID_Quantity_Zero__c] [varchar](255) NULL,
	[rC_Event__Ticket_ID_Quantity_Zero__c] [varchar](255) NULL,
	[GuestOf__c] [varchar](18) NULL,
	[Guests__c] [decimal](18, 0) NULL,
	[Table_Name__c] [varchar](255) NULL,
	[Seat_Number__c] [varchar](255) NULL,
	[Seating_Description__c] [varchar](255) NULL,
	[Invited_by__c] [varchar](255) NULL,
	[rC_Connect__Ask_1_Amount__c] [decimal](18, 2) NULL,
	[rC_Connect__Ask_2_Amount__c] [decimal](18, 2) NULL,
	[rC_Connect__Ask_3_Amount__c] [decimal](18, 2) NULL,
	[rC_Connect__Ask_4_Amount__c] [decimal](18, 2) NULL,
	[rC_Connect__Ask_5_Amount__c] [decimal](18, 2) NULL,
	[rC_Connect__Campaign_Ask__c] [varchar](255) NULL,
	[rC_Connect__Opportunity__c] [varchar](255) NULL,
	[Nickname__c] [varchar](255) NULL,
	[Gave_at_Event__c] [int] NULL,
	[Event_Gift_Amount__c] [decimal](18, 2) NULL
) ON [PRIMARY]

GO
