USE [ODW_Stage]
GO
/****** Object:  Table [dbo].[rC_Bios__Address__c]    Script Date: 12/1/2016 9:23:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rC_Bios__Address__c](
	[Id] [varchar](18) NULL,
	[OwnerId] [varchar](18) NULL,
	[IsDeleted] [int] NULL,
	[Name] [varchar](80) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedById] [varchar](18) NULL,
	[LastModifiedDate] [datetime] NULL,
	[LastModifiedById] [varchar](18) NULL,
	[SystemModstamp] [datetime] NULL,
	[ConnectionReceivedId] [varchar](18) NULL,
	[ConnectionSentId] [varchar](18) NULL,
	[rC_Bios__Archive_Flag__c] [int] NULL,
	[rC_Bios__Block_Group__c] [varchar](255) NULL,
	[rC_Bios__Block_Number__c] [varchar](255) NULL,
	[rC_Bios__CMRA__c] [varchar](255) NULL,
	[rC_Bios__Carrier_Route__c] [varchar](255) NULL,
	[rC_Bios__Census_Tract__c] [varchar](255) NULL,
	[rC_Bios__City__c] [varchar](255) NULL,
	[rC_Bios__Congressional_District__c] [varchar](255) NULL,
	[rC_Bios__Country_Name__c] [varchar](255) NULL,
	[rC_Bios__Country__c] [varchar](3) NULL,
	[rC_Bios__County_Number__c] [varchar](255) NULL,
	[rC_Bios__County__c] [varchar](255) NULL,
	[rC_Bios__DPV_Footnote__c] [varchar](255) NULL,
	[rC_Bios__DPV__c] [varchar](255) NULL,
	[rC_Bios__Delivery_Point__c] [varchar](255) NULL,
	[rC_Bios__Extension_Number__c] [varchar](255) NULL,
	[rC_Bios__Extension__c] [varchar](255) NULL,
	[rC_Bios__External_Id__c] [varchar](255) NULL,
	[rC_Bios__Firm__c] [varchar](255) NULL,
	[rC_Bios__LACS__c] [varchar](255) NULL,
	[rC_Bios__Lat__c] [decimal](9, 6) NULL,
	[rC_Bios__Lng__c] [decimal](9, 6) NULL,
	[rC_Bios__Maps_Bing_Url__c] [varchar](255) NULL,
	[rC_Bios__Maps_Google_Url__c] [varchar](255) NULL,
	[rC_Bios__Maps_Yahoo_Url__c] [varchar](255) NULL,
	[rC_Bios__Maps__c] [varchar](1300) NULL,
	[rC_Bios__PMB_Designator__c] [varchar](255) NULL,
	[rC_Bios__PMB__c] [varchar](255) NULL,
	[rC_Bios__Post_Direction__c] [varchar](255) NULL,
	[rC_Bios__Postal_Code__c] [varchar](255) NULL,
	[rC_Bios__Pre_Direction__c] [varchar](255) NULL,
	[rC_Bios__State_Number__c] [varchar](255) NULL,
	[rC_Bios__State__c] [varchar](255) NULL,
	[rC_Bios__Street_Address__c] [varchar](1300) NULL,
	[rC_Bios__Street_Line_1__c] [varchar](255) NULL,
	[rC_Bios__Street_Line_2__c] [varchar](255) NULL,
	[rC_Bios__Street_Name__c] [varchar](255) NULL,
	[rC_Bios__Street_Number__c] [varchar](255) NULL,
	[rC_Bios__Street_Type__c] [varchar](255) NULL,
	[rC_Bios__Unique_MD5__c] [varchar](32) NULL,
	[rC_Bios__Urbanization__c] [varchar](255) NULL,
	[rC_Bios__Village__c] [varchar](255) NULL,
	[rC_Bios__ZIP_Addon__c] [varchar](255) NULL,
	[rC_Bios__ZIP_Plus_4__c] [varchar](255) NULL,
	[rC_Bios__ZIP__c] [varchar](255) NULL
) ON [PRIMARY]

GO
