USE [ODW_Stage]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 12/1/2016 9:23:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[Id] [varchar](18) NULL,
	[IsDeleted] [int] NULL,
	[MasterRecordId] [varchar](18) NULL,
	[AccountId] [varchar](18) NULL,
	[LastName] [varchar](80) NULL,
	[FirstName] [varchar](40) NULL,
	[Salutation] [varchar](40) NULL,
	[Name] [varchar](121) NULL,
	[RecordTypeId] [varchar](18) NULL,
	[OtherStreet] [varchar](255) NULL,
	[OtherCity] [varchar](40) NULL,
	[OtherState] [varchar](80) NULL,
	[OtherPostalCode] [varchar](20) NULL,
	[OtherCountry] [varchar](80) NULL,
	[MailingStreet] [varchar](255) NULL,
	[MailingCity] [varchar](40) NULL,
	[MailingState] [varchar](80) NULL,
	[MailingPostalCode] [varchar](20) NULL,
	[MailingCountry] [varchar](80) NULL,
	[Phone] [varchar](40) NULL,
	[Fax] [varchar](40) NULL,
	[MobilePhone] [varchar](40) NULL,
	[HomePhone] [varchar](40) NULL,
	[OtherPhone] [varchar](40) NULL,
	[AssistantPhone] [varchar](40) NULL,
	[ReportsToId] [varchar](18) NULL,
	[Email] [varchar](80) NULL,
	[Title] [varchar](128) NULL,
	[Department] [varchar](80) NULL,
	[AssistantName] [varchar](40) NULL,
	[LeadSource] [varchar](40) NULL,
	[Birthdate] [datetime] NULL,
	[Description] [varchar](255) NULL,
	[OwnerId] [varchar](18) NULL,
	[HasOptedOutOfEmail] [int] NULL,
	[HasOptedOutOfFax] [int] NULL,
	[DoNotCall] [int] NULL,
	[CanAllowPortalSelfReg] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedById] [varchar](18) NULL,
	[LastModifiedDate] [datetime] NULL,
	[LastModifiedById] [varchar](18) NULL,
	[SystemModstamp] [datetime] NULL,
	[LastActivityDate] [datetime] NULL,
	[LastCURequestDate] [datetime] NULL,
	[LastCUUpdateDate] [datetime] NULL,
	[EmailBouncedReason] [varchar](255) NULL,
	[EmailBouncedDate] [datetime] NULL,
	[Jigsaw] [varchar](20) NULL,
	[JigsawContactId] [varchar](20) NULL,
	[ConnectionReceivedId] [varchar](18) NULL,
	[ConnectionSentId] [varchar](18) NULL,
	[rC_Bios__Salutation__c] [varchar](255) NULL,
	[City_Year_Alumni__c] [int] NULL,
	[Nickname__c] [varchar](100) NULL,
	[Sort_Key__c] [varchar](255) NULL,
	[Warning_Comments__c] [varchar](255) NULL,
	[rC_Giving__Current_Year_Soft_Credit_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Current_Year_Soft_Credit_Count__c] [decimal](18, 0) NULL,
	[rC_Giving__First_Soft_Credit_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__First_Soft_Credit_Date__c] [datetime] NULL,
	[rC_Giving__Largest_Soft_Credit_Amount__c] [decimal](18, 2) NULL,
	[Sync_to_Marketo__c] [int] NULL,
	[rC_Bios__Active__c] [int] NULL,
	[rC_Bios__Age_Range__c] [varchar](255) NULL,
	[rC_Bios__Age__c] [decimal](18, 0) NULL,
	[rC_Giving__Largest_Soft_Credit_Date__c] [datetime] NULL,
	[rC_Giving__Last_Soft_Credit_Amount__c] [decimal](18, 2) NULL,
	[rC_Bios__Archive_Flag__c] [int] NULL,
	[rC_Giving__Last_Soft_Credit_Date__c] [datetime] NULL,
	[rC_Giving__Lifetime_Soft_Credit_Amount__c] [decimal](18, 2) NULL,
	[City_Year_Worker_ID__c] [varchar](11) NULL,
	[City_Year_Worker_Type__c] [varchar](255) NULL,
	[rC_Giving__Lifetime_Soft_Credit_Count__c] [decimal](18, 0) NULL,
	[rC_Bios__Assistant_Do_Not_Call__c] [int] NULL,
	[rC_Bios__Assistant_Email_Opt_Out__c] [int] NULL,
	[rC_Bios__Assistant_Email__c] [varchar](80) NULL,
	[rC_Bios__Birth_Day__c] [varchar](255) NULL,
	[rC_Bios__Birth_Month__c] [varchar](255) NULL,
	[rC_Bios__Birth_Year__c] [varchar](255) NULL,
	[rC_Bios__Deceased_Date__c] [datetime] NULL,
	[rC_Bios__Deceased_Day__c] [varchar](255) NULL,
	[rC_Bios__Deceased_Month__c] [varchar](255) NULL,
	[rC_Bios__Deceased_Year__c] [varchar](255) NULL,
	[rC_Bios__Deceased__c] [int] NULL,
	[rC_Bios__Demographic_Profile__c] [varchar](255) NULL,
	[rC_Bios__Ethnicity__c] [varchar](255) NULL,
	[rC_Bios__External_Contact_Number__c] [varchar](255) NULL,
	[rC_Bios__Facebook_Url__c] [varchar](255) NULL,
	[rC_Bios__Gender__c] [varchar](255) NULL,
	[rC_Bios__Google_Plus_Url__c] [varchar](255) NULL,
	[rC_Bios__Home_Do_Not_Call__c] [int] NULL,
	[rC_Bios__Home_Email_Opt_Out__c] [int] NULL,
	[rC_Bios__Home_Email__c] [varchar](80) NULL,
	[rC_Bios__LinkedIn_Url__c] [varchar](255) NULL,
	[rC_Bios__Maiden_Name__c] [varchar](255) NULL,
	[rC_Bios__Marital_Status__c] [varchar](255) NULL,
	[rC_Bios__Middle_Name__c] [varchar](255) NULL,
	[rC_Bios__Minor_Child__c] [int] NULL,
	[rC_Bios__Mobile_Do_Not_Call__c] [int] NULL,
	[rC_Bios__Other_Do_Not_Call__c] [int] NULL,
	[rC_Bios__Other_Email_Opt_Out__c] [int] NULL,
	[rC_Bios__Other_Email__c] [varchar](80) NULL,
	[rC_Bios__Preferred_Contact__c] [int] NULL,
	[rC_Bios__Preferred_Email__c] [varchar](255) NULL,
	[rC_Bios__Preferred_Mailing_Address__c] [varchar](18) NULL,
	[rC_Bios__Preferred_Other_Address__c] [varchar](18) NULL,
	[rC_Bios__Preferred_Phone__c] [varchar](255) NULL,
	[rC_Bios__Role__c] [varchar](255) NULL,
	[rC_Bios__Secondary_Contact__c] [int] NULL,
	[rC_Bios__Suffix__c] [varchar](255) NULL,
	[rC_Bios__Twitter_Url__c] [varchar](255) NULL,
	[rC_Bios__Website_Url__c] [varchar](255) NULL,
	[rC_Bios__Work_Do_Not_Call__c] [int] NULL,
	[rC_Bios__Work_Email_Opt_Out__c] [int] NULL,
	[rC_Bios__Work_Email__c] [varchar](80) NULL,
	[rC_Bios__Work_Phone__c] [varchar](40) NULL,
	[rC_Bios__Rollup_Addresses__c] [datetime] NULL,
	[City_Year_Worker_Department__c] [varchar](80) NULL,
	[City_Year_Worker_Email__c] [varchar](80) NULL,
	[City_Year_Worker_Location__c] [varchar](18) NULL,
	[City_Year_Worker_Phone__c] [varchar](40) NULL,
	[City_Year_Worker_Title__c] [varchar](80) NULL,
	[rC_Giving__Primary_Affiliation__c] [varchar](255) NULL,
	[rC_Giving__Primary_Giving_Level__c] [varchar](255) NULL,
	[rC_Giving__Primary_Membership_Expiration_Date__c] [datetime] NULL,
	[rC_Giving__Primary_Membership_Status__c] [varchar](255) NULL,
	[rC_Giving__Prior_Year_Soft_Credit_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Prior_Year_Soft_Credit_Count__c] [decimal](18, 0) NULL,
	[rC_Giving__Rollup_Soft_Credits_Status__c] [varchar](255) NULL,
	[rC_Giving__Rollup_Soft_Credits__c] [datetime] NULL,
	[rC_Giving__Track_Soft_Credits__c] [int] NULL,
	[CY_Board_Member__c] [int] NULL,
	[CampaignEvent__c] [varchar](100) NULL,
	[mkto2__Acquisition_Date__c] [datetime] NULL,
	[mkto2__Acquisition_Program_Id__c] [decimal](18, 0) NULL,
	[mkto2__Acquisition_Program__c] [varchar](255) NULL,
	[mkto2__Inferred_City__c] [varchar](255) NULL,
	[mkto2__Inferred_Company__c] [varchar](255) NULL,
	[mkto2__Inferred_Country__c] [varchar](255) NULL,
	[mkto2__Inferred_Metropolitan_Area__c] [varchar](255) NULL,
	[mkto2__Inferred_Phone_Area_Code__c] [varchar](255) NULL,
	[mkto2__Inferred_Postal_Code__c] [varchar](255) NULL,
	[mkto2__Inferred_State_Region__c] [varchar](255) NULL,
	[mkto2__Lead_Score__c] [decimal](18, 0) NULL,
	[mkto2__Original_Referrer__c] [varchar](255) NULL,
	[mkto2__Original_Search_Engine__c] [varchar](255) NULL,
	[mkto2__Original_Search_Phrase__c] [varchar](255) NULL,
	[mkto2__Original_Source_Info__c] [varchar](2000) NULL,
	[mkto2__Original_Source_Type__c] [varchar](255) NULL,
	[Demographic_Score__c] [decimal](18, 0) NULL,
	[Behavior_Score__c] [decimal](18, 0) NULL,
	[Recruitment_Status__c] [varchar](255) NULL
) ON [PRIMARY]

GO
