USE [ODW_Stage]
GO
/****** Object:  Table [dbo].[CYSch_Contact]    Script Date: 12/1/2016 9:23:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CYSch_Contact](
	[Id] [varchar](18) NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[MasterRecordId] [varchar](18) NULL,
	[AccountId] [varchar](18) NULL,
	[LastName] [varchar](80) NOT NULL,
	[FirstName] [varchar](40) NULL,
	[Salutation] [varchar](40) NULL,
	[Name] [varchar](121) NOT NULL,
	[RecordTypeId] [varchar](18) NULL,
	[OtherStreet] [varchar](255) NULL,
	[OtherCity] [varchar](40) NULL,
	[OtherState] [varchar](80) NULL,
	[OtherPostalCode] [varchar](20) NULL,
	[OtherCountry] [varchar](80) NULL,
	[MailingStreet] [varchar](255) NULL,
	[MailingCity] [varchar](40) NULL,
	[MailingState] [varchar](80) NULL,
	[MailingPostalCode] [varchar](20) NULL,
	[MailingCountry] [varchar](80) NULL,
	[Phone] [varchar](40) NULL,
	[Fax] [varchar](40) NULL,
	[MobilePhone] [varchar](40) NULL,
	[HomePhone] [varchar](40) NULL,
	[OtherPhone] [varchar](40) NULL,
	[AssistantPhone] [varchar](40) NULL,
	[ReportsToId] [varchar](18) NULL,
	[Email] [varchar](80) NULL,
	[Title] [varchar](128) NULL,
	[Department] [varchar](80) NULL,
	[AssistantName] [varchar](40) NULL,
	[LeadSource] [varchar](40) NULL,
	[Birthdate] [datetime] NULL,
	[Description] [varchar](255) NULL,
	[OwnerId] [varchar](18) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedById] [varchar](18) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[LastModifiedById] [varchar](18) NOT NULL,
	[SystemModstamp] [datetime] NOT NULL,
	[LastActivityDate] [datetime] NULL,
	[LastCURequestDate] [datetime] NULL,
	[LastCUUpdateDate] [datetime] NULL,
	[EmailBouncedReason] [varchar](255) NULL,
	[EmailBouncedDate] [datetime] NULL,
	[Jigsaw] [varchar](20) NULL,
	[JigsawContactId] [varchar](20) NULL,
	[SchoolForce__Active__c] [int] NOT NULL,
	[SchoolForce__Activities__c] [varchar](255) NULL,
	[SchoolForce__Admission_Code__c] [varchar](255) NULL,
	[SchoolForce__Admission_Status__c] [varchar](255) NULL,
	[SchoolForce__Age__c] [decimal](18, 0) NULL,
	[SchoolForce__Application_Date__c] [datetime] NULL,
	[SchoolForce__Best_Place_of_Contact__c] [varchar](255) NULL,
	[SchoolForce__Birth_Place_City__c] [varchar](80) NULL,
	[SchoolForce__Birth_Place_State__c] [varchar](255) NULL,
	[SchoolForce__Certification_Status__c] [varchar](255) NULL,
	[SchoolForce__Cohort__c] [varchar](18) NULL,
	[SchoolForce__Comments__c] [varchar](255) NULL,
	[SchoolForce__Country_of_Origin__c] [varchar](255) NULL,
	[SchoolForce__Currently_evaluated_for_special_ed__c] [int] NOT NULL,
	[SchoolForce__Date_of_Birth__c] [datetime] NULL,
	[SchoolForce__Detailed_Exit_Reason__c] [varchar](255) NULL,
	[SchoolForce__Disability_Flag__c] [varchar](1) NULL,
	[SchoolForce__District_of_Columbia_C_Student_ID__c] [varchar](20) NULL,
	[SchoolForce__EC_1_Relationship_to_Student__c] [varchar](255) NULL,
	[SchoolForce__EContact_1_Cell_Phone__c] [varchar](40) NULL,
	[SchoolForce__EContact_1_Home_Phone__c] [varchar](40) NULL,
	[SchoolForce__EContact_2_Cell_Phone__c] [varchar](40) NULL,
	[SchoolForce__EContact_2_Home_Phone__c] [varchar](40) NULL,
	[SchoolForce__EContact_2_Work_Phone__c] [varchar](40) NULL,
	[SchoolForce__ELL__c] [int] NOT NULL,
	[SchoolForce__Econtact_2_Relationship_to_Student__c] [varchar](255) NULL,
	[SchoolForce__Email_to_SMS_Address__c] [varchar](255) NULL,
	[SchoolForce__Emergency_Contact_1_Name__c] [varchar](255) NULL,
	[SchoolForce__Emergency_Contact_1_Work_Phone__c] [varchar](40) NULL,
	[SchoolForce__Emergency_Contact_2_Name__c] [varchar](255) NULL,
	[SchoolForce__Employment_End_Date__c] [datetime] NULL,
	[SchoolForce__Employment_Start_Date__c] [datetime] NULL,
	[SchoolForce__Employment_Status__c] [varchar](255) NULL,
	[SchoolForce__Entry_Date__c] [datetime] NULL,
	[SchoolForce__Entry_Type__c] [varchar](255) NULL,
	[SchoolForce__Ethnicity__c] [varchar](255) NULL,
	[SchoolForce__Exit_Comments__c] [varchar](255) NULL,
	[SchoolForce__Exit_Date__c] [datetime] NULL,
	[SchoolForce__Exit_Status__c] [varchar](255) NULL,
	[SchoolForce__Extension__c] [varchar](40) NULL,
	[SchoolForce__Full_Time_Status__c] [varchar](255) NULL,
	[SchoolForce__Gender__c] [varchar](255) NULL,
	[SchoolForce__Highest_Level_of_Education_Completed__c] [varchar](255) NULL,
	[SchoolForce__Holding_Source__c] [varchar](18) NULL,
	[SchoolForce__Home_Language__c] [varchar](255) NULL,
	[SchoolForce__Honors__c] [varchar](255) NULL,
	[SchoolForce__ID__c] [varchar](100) NULL,
	[SchoolForce__Immigrant_Program_Participant__c] [int] NOT NULL,
	[SchoolForce__Immigrant__c] [int] NOT NULL,
	[SchoolForce__Is_Active__c] [int] NOT NULL,
	[SchoolForce__Languages__c] [varchar](100) NULL,
	[SchoolForce__Latitude__c] [varchar](100) NULL,
	[SchoolForce__Legacy_ID__c] [varchar](100) NULL,
	[SchoolForce__Lep_Flag__c] [varchar](1) NULL,
	[SchoolForce__Longitude__c] [varchar](100) NULL,
	[SchoolForce__Middle_Name__c] [varchar](80) NULL,
	[SchoolForce__Migrant__c] [int] NOT NULL,
	[SchoolForce__Nickname__c] [varchar](100) NULL,
	[SchoolForce__Notes__c] [varchar](255) NULL,
	[SchoolForce__Notify_via_Email__c] [int] NOT NULL,
	[SchoolForce__Notify_via_SMS__c] [int] NOT NULL,
	[SchoolForce__Official_Exit_Type__c] [varchar](255) NULL,
	[SchoolForce__Permission_for_Directory__c] [varchar](255) NULL,
	[SchoolForce__Personal_Phone__c] [varchar](40) NULL,
	[SchoolForce__Photograph_Authorized__c] [int] NOT NULL,
	[SchoolForce__Preferred_Language__c] [varchar](255) NULL,
	[SchoolForce__Previous_School_1_Type__c] [varchar](255) NULL,
	[SchoolForce__Previous_School_1__c] [varchar](50) NULL,
	[SchoolForce__Previous_School_2_Type__c] [varchar](255) NULL,
	[SchoolForce__Previous_School_2__c] [varchar](80) NULL,
	[SchoolForce__Primary_Parent__c] [int] NOT NULL,
	[SchoolForce__Projected_graduation_date__c] [datetime] NULL,
	[SchoolForce__Race_PowerSchool_Import__c] [varchar](10) NULL,
	[SchoolForce__Race__c] [varchar](255) NULL,
	[SchoolForce__Receive_Written_Information_in_Spanish__c] [varchar](255) NULL,
	[SchoolForce__Reference_Id__c] [varchar](100) NULL,
	[SchoolForce__Relationship__c] [varchar](255) NULL,
	[SchoolForce__Residence_After_Exiting_School__c] [varchar](255) NULL,
	[SchoolForce__Scheduled_Daily_EndTime__c] [varchar](18) NULL,
	[SchoolForce__Scheduled_Start_Time__c] [varchar](18) NULL,
	[SchoolForce__Scheduled_Work_Days_Weekly__c] [varchar](255) NULL,
	[SchoolForce__Scheduled_Work_Months_Annually__c] [varchar](255) NULL,
	[SchoolForce__Secondary_Email__c] [varchar](80) NULL,
	[SchoolForce__Service_Hours_Remaining__c] [decimal](18, 2) NULL,
	[SchoolForce__Social_Security_Number__c] [varchar](18) NULL,
	[SchoolForce__Staff_Code__c] [varchar](255) NULL,
	[SchoolForce__Staff_Photo__c] [varchar](255) NULL,
	[SchoolForce__Start_Date__c] [datetime] NULL,
	[SchoolForce__Student_Current_Grade__c] [varchar](255) NULL,
	[SchoolForce__Student_Id__c] [varchar](255) NULL,
	[SchoolForce__Student_Picture__c] [varchar](255) NULL,
	[SchoolForce__Student__c] [varchar](18) NULL,
	[SchoolForce__Substitute_Status__c] [varchar](255) NULL,
	[SchoolForce__Supervisor__c] [varchar](18) NULL,
	[SchoolForce__Teaching_Credential_Type__c] [varchar](255) NULL,
	[SchoolForce__Technology_Skills_Assessed__c] [int] NOT NULL,
	[SchoolForce__Technology_Standards_Met__c] [int] NOT NULL,
	[SchoolForce__Title_1_Status__c] [varchar](255) NULL,
	[SchoolForce__Transportation_Authorized__c] [int] NOT NULL,
	[SchoolForce__User_ID__c] [varchar](255) NULL,
	[SchoolForce__User_Name__c] [varchar](30) NULL,
	[SchoolForce__User__c] [varchar](18) NULL,
	[SchoolForce__Video_Authorized__c] [int] NOT NULL,
	[SchoolForce__Ward__c] [varchar](255) NULL,
	[SchoolForce__Wireless_Provider__c] [varchar](255) NULL,
	[SchoolForce__X504_Plan__c] [int] NOT NULL,
	[SchoolForce__Years_of_Prior_Teaching_Experience__c] [decimal](10, 0) NULL,
	[SchoolForce__Service_Hours_Completed__c] [decimal](6, 2) NULL,
	[SchoolForce__Actual_Graduation_Date__c] [datetime] NULL,
	[SchoolForce__Original_Member_of_Cohort__c] [int] NOT NULL,
	[SchoolForce__Portfolio_Required__c] [varchar](255) NULL,
	[SchoolForce__Projected_Cohort_Graduation_Date__c] [datetime] NULL,
	[legacy_key1__c] [varchar](100) NULL
) ON [PRIMARY]

GO
