USE [ODW_Stage]
GO
/****** Object:  Table [dbo].[Campaign]    Script Date: 12/1/2016 9:23:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campaign](
	[Id] [varchar](18) NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[Name] [varchar](80) NOT NULL,
	[ParentId] [varchar](18) NULL,
	[Type] [varchar](40) NULL,
	[RecordTypeId] [varchar](18) NULL,
	[Status] [varchar](40) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[ExpectedRevenue] [decimal](18, 0) NULL,
	[BudgetedCost] [decimal](18, 0) NULL,
	[ActualCost] [decimal](18, 0) NULL,
	[ExpectedResponse] [decimal](10, 2) NULL,
	[NumberSent] [decimal](18, 0) NULL,
	[IsActive] [int] NOT NULL,
	[Description] [varchar](255) NULL,
	[NumberOfLeads] [int] NOT NULL,
	[NumberOfConvertedLeads] [int] NOT NULL,
	[NumberOfContacts] [int] NOT NULL,
	[NumberOfResponses] [int] NOT NULL,
	[NumberOfOpportunities] [int] NOT NULL,
	[NumberOfWonOpportunities] [int] NOT NULL,
	[AmountAllOpportunities] [decimal](18, 0) NOT NULL,
	[AmountWonOpportunities] [decimal](18, 0) NOT NULL,
	[HierarchyNumberOfLeads] [int] NULL,
	[HierarchyNumberOfConvertedLeads] [int] NULL,
	[HierarchyNumberOfContacts] [int] NULL,
	[HierarchyNumberOfResponses] [int] NULL,
	[HierarchyNumberOfOpportunities] [int] NULL,
	[HierarchyNumberOfWonOpportunities] [int] NULL,
	[HierarchyAmountAllOpportunities] [decimal](18, 0) NULL,
	[HierarchyAmountWonOpportunities] [decimal](18, 0) NULL,
	[HierarchyNumberSent] [decimal](18, 0) NULL,
	[HierarchyExpectedRevenue] [decimal](18, 0) NULL,
	[HierarchyBudgetedCost] [decimal](18, 0) NULL,
	[HierarchyActualCost] [decimal](18, 0) NULL,
	[OwnerId] [varchar](18) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedById] [varchar](18) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[LastModifiedById] [varchar](18) NOT NULL,
	[SystemModstamp] [datetime] NOT NULL,
	[LastActivityDate] [datetime] NULL,
	[CampaignMemberRecordTypeId] [varchar](18) NULL,
	[DB_Campaign_Tactic__c] [varchar](255) NULL,
	[rC_Giving__Affiliation__c] [varchar](255) NULL,
	[rC_Giving__Appeal_Segment__c] [varchar](255) NULL,
	[rC_Giving__Archive_Flag__c] [int] NOT NULL,
	[rC_Giving__Average_Gift_Hierarchy__c] [decimal](18, 2) NULL,
	[rC_Giving__Average_Gift__c] [decimal](18, 2) NULL,
	[rC_Giving__Best_Case_Amount_Hierarchy__c] [decimal](18, 2) NULL,
	[rC_Giving__Best_Case_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Best_Case_Bar__c] [varchar](1300) NULL,
	[rC_Giving__Best_Case_Ratio__c] [decimal](18, 2) NULL,
	[rC_Giving__Campaign_Category__c] [varchar](255) NULL,
	[rC_Giving__Campaign_Type__c] [varchar](255) NULL,
	[rC_Giving__Channel__c] [varchar](255) NULL,
	[rC_Giving__Closed_Amount_Hierarchy__c] [decimal](18, 2) NULL,
	[rC_Giving__Closed_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Closed_Bar__c] [varchar](1300) NULL,
	[rC_Giving__Closed_Ratio__c] [decimal](18, 2) NULL,
	[rC_Giving__Commit_Amount_Hierarchy__c] [decimal](18, 2) NULL,
	[rC_Giving__Commit_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Commit_Bar__c] [varchar](1300) NULL,
	[rC_Giving__Commit_Ratio__c] [decimal](18, 2) NULL,
	[rC_Giving__Cost_Per_Piece_Hierarchy__c] [decimal](18, 3) NULL,
	[rC_Giving__Cost_Per_Piece__c] [decimal](18, 3) NULL,
	[rC_Giving__Cost_Per_Thousand_Hierarchy__c] [decimal](18, 3) NULL,
	[rC_Giving__Cost_Per_Thousand__c] [decimal](18, 3) NULL,
	[rC_Giving__Creative_Package__c] [varchar](18) NULL,
	[rC_Giving__Current_Giving_Amount_Hierarchy__c] [decimal](18, 2) NULL,
	[rC_Giving__Current_Giving_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Effort__c] [varchar](255) NULL,
	[rC_Giving__End_Date_Time__c] [datetime] NULL,
	[rC_Giving__Expected_Giving_Amount_Hierarchy__c] [decimal](18, 2) NULL,
	[rC_Giving__Expected_Giving_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__External_ID__c] [varchar](255) NULL,
	[rC_Giving__GAU__c] [varchar](18) NULL,
	[rC_Giving__Giving_Type_Engine__c] [varchar](255) NULL,
	[rC_Giving__Giving_Type__c] [varchar](255) NULL,
	[rC_Giving__Is_Parent__c] [int] NOT NULL,
	[rC_Giving__Is_Shopper__c] [int] NOT NULL,
	[rC_Giving__Omitted_Amount_Hierarchy__c] [decimal](18, 2) NULL,
	[rC_Giving__Omitted_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Omitted_Bar__c] [varchar](1300) NULL,
	[rC_Giving__Omitted_Ratio__c] [decimal](18, 2) NULL,
	[rC_Giving__Percent_Goal_Hierarchy__c] [decimal](18, 2) NULL,
	[rC_Giving__Percent_Goal__c] [decimal](18, 2) NULL,
	[rC_Giving__Pipeline_Amount_Hierarchy__c] [decimal](18, 2) NULL,
	[rC_Giving__Pipeline_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Pipeline_Bar__c] [varchar](1300) NULL,
	[rC_Giving__Pipeline_Ratio__c] [decimal](18, 2) NULL,
	[rC_Giving__ROI_Hierarchy__c] [decimal](18, 2) NULL,
	[rC_Giving__ROI__c] [decimal](18, 2) NULL,
	[rC_Giving__Refunded_Amount_Hierarchy__c] [decimal](18, 2) NULL,
	[rC_Giving__Refunded_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Refunded_Bar__c] [varchar](1300) NULL,
	[rC_Giving__Refunded_Ratio__c] [decimal](18, 2) NULL,
	[rC_Giving__Remaining_Goal_Hierarchy__c] [decimal](18, 2) NULL,
	[rC_Giving__Remaining_Goal__c] [decimal](18, 2) NULL,
	[rC_Giving__Response_Mechanism__c] [varchar](255) NULL,
	[rC_Giving__Response_Rate_Hierarchy__c] [decimal](18, 2) NULL,
	[rC_Giving__Response_Rate__c] [decimal](18, 2) NULL,
	[rC_Giving__Rollup_Giving__c] [datetime] NULL,
	[rC_Giving__Segment__c] [varchar](3) NULL,
	[rC_Giving__Send_To_Email_Campaign__c] [int] NOT NULL,
	[rC_Giving__Solicitation_Type__c] [varchar](255) NULL,
	[rC_Giving__Source_Code_Partial__c] [varchar](8) NULL,
	[rC_Giving__Source_Code__c] [varchar](16) NULL,
	[rC_Giving__Start_Date_Time__c] [datetime] NULL,
	[rC_Giving__Sub_Affiliation__c] [varchar](255) NULL,
	[rC_Giving__Sub_Channel__c] [varchar](255) NULL,
	[rC_Giving__Support_Designation__c] [varchar](255) NULL,
	[rC_Connect__Duration__c] [decimal](18, 0) NULL,
	[rC_Connect__Form_Mapping__c] [varchar](18) NULL,
	[rC_Connect__Heartland_Merchant__c] [varchar](18) NULL,
	[rC_Connect__Payment_Processor__c] [varchar](255) NULL,
	[rC_Connect__Sage_Merchant__c] [varchar](18) NULL,
	[Revenue_Category__c] [varchar](255) NULL,
	[rC_Event__Added_To_Waitlist_Text__c] [varchar](255) NULL,
	[rC_Event__Available_Registered_Count__c] [decimal](18, 0) NULL,
	[rC_Event__Available_Waitlisted_Count__c] [decimal](18, 0) NULL,
	[rC_Event__End_Date_Time__c] [datetime] NULL,
	[rC_Event__Event_Code__c] [varchar](255) NULL,
	[rC_Event__Event_Subtype__c] [varchar](255) NULL,
	[rC_Event__Event_Type__c] [varchar](255) NULL,
	[rC_Event__Hidden_Tab_Attendance__c] [int] NOT NULL,
	[rC_Event__Hidden_Tab_Attributes__c] [int] NOT NULL,
	[rC_Event__Hidden_Tab_Chatter__c] [int] NOT NULL,
	[rC_Event__Hidden_Tab_Details__c] [int] NOT NULL,
	[rC_Event__Hidden_Tab_Form__c] [int] NOT NULL,
	[rC_Event__Hidden_Tab_Groups__c] [int] NOT NULL,
	[rC_Event__Hidden_Tab_Meals__c] [int] NOT NULL,
	[rC_Event__Hidden_Tab_Members__c] [int] NOT NULL,
	[rC_Event__Hidden_Tab_Seating__c] [int] NOT NULL,
	[rC_Event__Hidden_Tab_Sessions__c] [int] NOT NULL,
	[rC_Event__Hidden_Tab_Tasks__c] [int] NOT NULL,
	[rC_Event__Hidden_Tab_Tickets__c] [int] NOT NULL,
	[rC_Event__Hidden_Tab_Venues__c] [int] NOT NULL,
	[rC_Event__Parent_Name__c] [varchar](1300) NULL,
	[rC_Event__Pricebook_Link__c] [varchar](1300) NULL,
	[rC_Event__Pricebook_Name__c] [varchar](255) NULL,
	[rC_Event__Pricebook__c] [varchar](18) NULL,
	[rC_Event__Primary_Venue__c] [varchar](255) NULL,
	[rC_Event__Registered_Count__c] [decimal](18, 0) NULL,
	[rC_Event__Registered_Full_Date__c] [datetime] NULL,
	[rC_Event__Registered_Full_Text__c] [varchar](1000) NULL,
	[rC_Event__Registered_Limit__c] [decimal](18, 0) NULL,
	[rC_Event__Registered_Status__c] [varchar](255) NULL,
	[rC_Event__Registration_Closed_Message__c] [varchar](255) NULL,
	[rC_Event__Registration_Edit_Deadline__c] [datetime] NULL,
	[rC_Event__Registration_End_Date_Time__c] [datetime] NULL,
	[rC_Event__Registration_Landing_Page__c] [varchar](255) NULL,
	[rC_Event__Registration_Start_Date_Time__c] [datetime] NULL,
	[rC_Event__Rollup_Members__c] [datetime] NULL,
	[rC_Event__Rollup_Venues__c] [datetime] NULL,
	[rC_Event__Session_Status__c] [varchar](255) NULL,
	[rC_Event__Special_Instructions__c] [varchar](255) NULL,
	[rC_Event__Start_Date_Time__c] [datetime] NULL,
	[rC_Event__Time_Zone__c] [varchar](255) NULL,
	[rC_Event__Venue_Count__c] [decimal](18, 0) NULL,
	[rC_Event__Waitlisted_Count__c] [decimal](18, 0) NULL,
	[rC_Event__Waitlisted_Full_Date__c] [datetime] NULL,
	[rC_Event__Waitlisted_Full_Text__c] [varchar](1000) NULL,
	[rC_Event__Waitlisted_Limit__c] [decimal](18, 0) NULL,
	[rC_Event__Waitlisted_Status__c] [varchar](255) NULL,
	[rC_Event__Attended__c] [decimal](18, 0) NULL,
	[rC_Event__No_Show__c] [decimal](18, 0) NULL,
	[Location__c] [varchar](255) NULL,
	[Fiscal_Year__c] [varchar](255) NULL,
	[Sync_to_Marketo__c] [int] NOT NULL,
	[Functional_Area__c] [varchar](255) NULL,
	[Short_Name__c] [varchar](50) NULL,
	[Location_Code__c] [varchar](1300) NULL,
	[Functional_Area_Code__c] [varchar](1300) NULL,
	[Type_Code__c] [varchar](1300) NULL,
	[rC_Giving__Cost_Per_Gift__c] [decimal](18, 2) NULL,
	[rC_Giving__Cost_Per_Won_Opportunity__c] [decimal](18, 3) NULL,
	[rC_Giving__Days_Since_Drop__c] [decimal](18, 0) NULL,
	[rC_Giving__Drop_Date__c] [datetime] NULL,
	[rC_Giving__Net_Revenue_Hierarchy__c] [decimal](18, 2) NULL,
	[rC_Giving__Net_Revenue__c] [decimal](18, 2) NULL,
	[rC_Giving__Solicitation_List__c] [varchar](255) NULL,
	[rC_Giving__Source_Code_13_Digits__c] [varchar](13) NULL,
	[rC_Connect__First_Response_Date__c] [datetime] NULL,
	[rC_Connect__Generate_Ask_Amounts__c] [int] NOT NULL,
	[rC_Connect__Last_Response_Date__c] [datetime] NULL,
	[rC_Connect__Unsolicited_Gifts__c] [decimal](18, 0) NULL
) ON [PRIMARY]

GO
