USE [ODW_Stage]
GO
/****** Object:  Table [dbo].[Account_OLD]    Script Date: 12/1/2016 9:23:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_OLD](
	[Id] [varchar](18) NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[MasterRecordId] [varchar](18) NULL,
	[Name] [varchar](255) NOT NULL,
	[Type] [varchar](40) NULL,
	[RecordTypeId] [varchar](18) NULL,
	[ParentId] [varchar](18) NULL,
	[BillingStreet] [varchar](255) NULL,
	[BillingCity] [varchar](40) NULL,
	[BillingState] [varchar](80) NULL,
	[BillingPostalCode] [varchar](20) NULL,
	[BillingCountry] [varchar](80) NULL,
	[ShippingStreet] [varchar](255) NULL,
	[ShippingCity] [varchar](40) NULL,
	[ShippingState] [varchar](80) NULL,
	[ShippingPostalCode] [varchar](20) NULL,
	[ShippingCountry] [varchar](80) NULL,
	[Phone] [varchar](40) NULL,
	[Fax] [varchar](40) NULL,
	[AccountNumber] [varchar](40) NULL,
	[Website] [varchar](255) NULL,
	[Sic] [varchar](20) NULL,
	[Industry] [varchar](40) NULL,
	[AnnualRevenue] [decimal](18, 0) NULL,
	[NumberOfEmployees] [int] NULL,
	[Ownership] [varchar](40) NULL,
	[TickerSymbol] [varchar](20) NULL,
	[Description] [varchar](250) NULL,
	[Rating] [varchar](40) NULL,
	[Site] [varchar](80) NULL,
	[OwnerId] [varchar](18) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedById] [varchar](18) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[LastModifiedById] [varchar](18) NOT NULL,
	[SystemModstamp] [datetime] NOT NULL,
	[LastActivityDate] [datetime] NULL,
	[IsPartner] [int] NOT NULL,
	[IsCustomerPortal] [int] NOT NULL,
	[Jigsaw] [varchar](20) NULL,
	[JigsawCompanyId] [varchar](20) NULL,
	[AccountSource] [varchar](40) NULL,
	[SicDesc] [varchar](80) NULL,
	[ConnectionReceivedId] [varchar](18) NULL,
	[ConnectionSentId] [varchar](18) NULL,
	[Raiser_s_Edge_ID__c] [varchar](21) NULL,
	[City_Year_Service_Location__c] [varchar](18) NULL,
	[rC_Bios__Recover_Flag__c] [int] NOT NULL,
	[Sort_Key__c] [varchar](100) NULL,
	[Current_Partner_District__c] [int] NOT NULL,
	[Information_System_Notes__c] [varchar](255) NULL,
	[Partnership_Level__c] [varchar](255) NULL,
	[Subtype__c] [varchar](255) NULL,
	[Equal_Distribution_of_Feeders__c] [decimal](18, 0) NULL,
	[Auto_Account__c] [varchar](30) NOT NULL,
	[rC_Bios__About_Us__c] [varchar](250) NULL,
	[rC_Bios__Acquired_Date__c] [datetime] NULL,
	[High_Grade__c] [decimal](2, 0) NULL,
	[In_Scale_Plan__c] [int] NOT NULL,
	[Low_Grade_Formula_not_displayed__c] [decimal](18, 0) NULL,
	[Low_Grade__c] [varchar](2) NULL,
	[Number_of_Grades__c] [decimal](18, 0) NULL,
	[rC_Bios__Acquired_Source__c] [varchar](255) NULL,
	[rC_Bios__Active__c] [int] NOT NULL,
	[rC_Bios__Agency__c] [varchar](18) NULL,
	[rC_Bios__Archive_Flag__c] [int] NOT NULL,
	[rC_Bios__Category__c] [varchar](255) NULL,
	[rC_Bios__External_ID__c] [varchar](255) NULL,
	[rC_Bios__Funding_Area__c] [varchar](4099) NULL,
	[rC_Bios__Preferred_Billing_Address__c] [varchar](18) NULL,
	[rC_Bios__Preferred_Contact_Demographic_Profile__c] [varchar](1300) NULL,
	[Number_of_Feeder_Schools__c] [decimal](18, 0) NULL,
	[City_Year_Location_ID__c] [varchar](10) NULL,
	[Number_of_Accounts__c] [decimal](18, 0) NULL,
	[Charter_School__c] [int] NOT NULL,
	[Current_Partner__c] [varchar](1300) NULL,
	[rC_Giving__Current_Calendar_Year_Hard_Credit_Amount__c] [decimal](18, 2) NULL,
	[Magnet_School__c] [int] NOT NULL,
	[rC_Bios__Preferred_Contact_Email__c] [varchar](1300) NULL,
	[rC_Bios__Preferred_Contact_Phone__c] [varchar](1300) NULL,
	[Current_School_Partnerships__c] [decimal](18, 0) NULL,
	[Total_Past_Partnerships__c] [decimal](18, 0) NULL,
	[rC_Bios__Preferred_Contact__c] [varchar](18) NULL,
	[rC_Bios__Preferred_Shipping_Address__c] [varchar](18) NULL,
	[rC_Bios__Salutation__c] [varchar](255) NULL,
	[rC_Bios__Warning_Comments__c] [varchar](250) NULL,
	[rC_Bios__Rollup_Addresses__c] [datetime] NULL,
	[City_Year_Moment__c] [varchar](250) NULL,
	[rC_Giving__Current_Calendar_Year_Hard_Credit_Count__c] [decimal](18, 0) NULL,
	[rC_Giving__Current_Year_Hard_Credit_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Current_Year_Hard_Credit_Count__c] [decimal](18, 0) NULL,
	[rC_Giving__Current_Year_Is_Major_Giver__c] [int] NOT NULL,
	[rC_Giving__Current_Year_Is_Sustaining_Giver__c] [int] NOT NULL,
	[rC_Giving__Current_Year_Soft_Credit_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Current_Year_Soft_Credit_Count__c] [decimal](18, 0) NULL,
	[rC_Giving__Deduct_Items__c] [int] NOT NULL,
	[rC_Giving__Distribution_Frequency__c] [varchar](255) NULL,
	[rC_Giving__First_Hard_Credit_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__First_Hard_Credit_Date__c] [datetime] NULL,
	[rC_Giving__First_Soft_Credit_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__First_Soft_Credit_Date__c] [datetime] NULL,
	[rC_Giving__Installments_Allowed__c] [int] NOT NULL,
	[rC_Giving__Is_Sustaining_Giver__c] [int] NOT NULL,
	[rC_Giving__Items_Allowed__c] [int] NOT NULL,
	[rC_Giving__Largest_Hard_Credit_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Largest_Hard_Credit_Date__c] [datetime] NULL,
	[rC_Giving__Largest_Soft_Credit_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Largest_Soft_Credit_Date__c] [datetime] NULL,
	[rC_Giving__Last_Hard_Credit_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Last_Hard_Credit_Date__c] [datetime] NULL,
	[rC_Giving__Last_Soft_Credit_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Last_Soft_Credit_Date__c] [datetime] NULL,
	[rC_Giving__Lifetime_Hard_Credit_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Lifetime_Hard_Credit_Count__c] [decimal](18, 0) NULL,
	[rC_Giving__Lifetime_Is_Major_Giver__c] [int] NOT NULL,
	[rC_Giving__Lifetime_Is_Sustaining_Giver__c] [int] NOT NULL,
	[rC_Giving__Lifetime_Soft_Credit_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Lifetime_Soft_Credit_Count__c] [decimal](18, 0) NULL,
	[rC_Giving__Match_Ratio__c] [decimal](18, 2) NULL,
	[rC_Giving__Maximum_Contribution__c] [decimal](18, 2) NULL,
	[rC_Giving__Maximum_Matched__c] [decimal](18, 2) NULL,
	[rC_Giving__Minimum_Matched__c] [decimal](18, 2) NULL,
	[rC_Giving__Pending_Payment_Details__c] [varchar](255) NULL,
	[rC_Giving__Pending_Payment__c] [int] NOT NULL,
	[rC_Giving__Primary_Affiliation__c] [varchar](255) NULL,
	[rC_Giving__Primary_Giving_Level__c] [varchar](18) NULL,
	[rC_Giving__Primary_Membership_Expiration_Date__c] [datetime] NULL,
	[rC_Giving__Primary_Membership_Status__c] [varchar](255) NULL,
	[rC_Giving__Prior_Calendar_Year_Hard_Credit_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Prior_Calendar_Year_Hard_Credit_Count__c] [decimal](18, 0) NULL,
	[rC_Giving__Prior_Year_Hard_Credit_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Prior_Year_Hard_Credit_Count__c] [decimal](18, 0) NULL,
	[rC_Giving__Prior_Year_Is_Major_Giver__c] [int] NOT NULL,
	[rC_Giving__Prior_Year_Is_Sustaining_Giver__c] [int] NOT NULL,
	[rC_Giving__Prior_Year_Soft_Credit_Amount__c] [decimal](18, 2) NULL,
	[rC_Giving__Prior_Year_Soft_Credit_Count__c] [decimal](18, 0) NULL,
	[rC_Giving__Recalculate_Giving__c] [int] NOT NULL,
	[rC_Giving__Rollup_Affiliations_Status__c] [varchar](1300) NULL,
	[rC_Giving__Rollup_Affiliations__c] [datetime] NULL,
	[rC_Giving__Rollup_Hard_Credits_Status__c] [varchar](1300) NULL,
	[rC_Giving__Rollup_Hard_Credits__c] [datetime] NULL,
	[rC_Giving__Rollup_Soft_Credits_Status__c] [varchar](1300) NULL,
	[rC_Giving__Rollup_Soft_Credits__c] [datetime] NULL,
	[rC_Giving__Rollup_Summaries_Status__c] [varchar](1300) NULL,
	[rC_Giving__Rollup_Summaries__c] [datetime] NULL,
	[rC_Giving__Track_Affiliations__c] [int] NOT NULL,
	[rC_Giving__Track_Hard_Credits__c] [int] NOT NULL,
	[rC_Giving__Track_Soft_Credits__c] [int] NOT NULL,
	[rC_Giving__Track_Summaries__c] [int] NOT NULL,
	[rC_Giving__Update_Gift_Membership_Summaries__c] [datetime] NULL,
	[rC_Giving__Update_Lifetime_Summaries__c] [datetime] NULL,
	[rC_Giving__Update_Summaries__c] [datetime] NULL,
	[CY_Board__c] [int] NOT NULL,
	[Major_Donor_Status__c] [varchar](255) NULL,
	[National_Leadership_Sponsor__c] [varchar](4099) NULL,
	[Account_Name_no_Household__c] [varchar](1300) NULL,
	[Is_Parent_Account__c] [int] NOT NULL,
	[Preferred_Contact_First_Name__c] [varchar](1300) NULL,
	[CRMfusion_dupeKey__c] [varchar](255) NULL,
	[Capacity_Rating__c] [varchar](255) NULL,
	[Capacity_Rating_Last_Reviewed__c] [datetime] NULL,
	[Inclination_Rating_Last_Reviewed__c] [datetime] NULL,
	[Wealth_Rating_Last_Reviewed__c] [datetime] NULL,
	[Inclination_Rating__c] [varchar](255) NULL,
	[Wealth_Rating__c] [varchar](255) NULL,
	[Link_to_Account__c] [varchar](1300) NULL,
	[Donor_Retention__c] [varchar](255) NULL,
	[Record_Merge_Notes__c] [varchar](255) NULL,
	[Sum_of_Gifts__c] [decimal](18, 2) NULL,
	[Tax_Receipt_Recipient__c] [varchar](255) NULL,
	[Case_Safe_Id_18_char__c] [varchar](1300) NULL,
	[rC_Giving__Active_Sustainer__c] [int] NOT NULL,
	[Workday_Integration_Flag__c] [int] NOT NULL,
	[Workday_Integration_Datetime_Stamp__c] [datetime] NULL,
	[Customer_Category_WD_Code__c] [varchar](1300) NULL,
	[Workday_Customer__c] [decimal](18, 0) NULL
) ON [PRIMARY]

GO
